<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>

</head>
<body>
{if $userName eq ''}
<a href="?page=login">Přihlásit se</a>
{else}
<p>Přihlášený uživatel: {$userName} <br /> <a href="?page=administrace/logout">Odhlásit se</a></p>
{/if}

    <header>
        <h1>Nadpis Webu</h1>
    </header>
    {if $message neq ''}
    <p>{$message}</p>
    {/if}
    <nav>
        {$menu}
    </nav>
    <hr />
    <main>

            {$maincontent}
    </main>
</body>
</html>